/*************************** Theme Colours****************************/
// Define theme colour scheme - Purple Gradient Theme
$theme-color-primary: #7c3aed;
$theme-color-primary-dark: #6d28d9;
$theme-color-primary-light: #a78bfa;
$theme-color-secondary: #ec4899;
$theme-purple-gradient: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
$theme-purple-gradient-reverse: linear-gradient(135deg, #764ba2 0%, #667eea 100%);
$theme-text-color-primary: #1a202c;
$theme-text-color-secondary: lighten($theme-text-color-primary, 25%);
$theme-text-color-light: lighten($theme-text-color-primary, 40%);
$theme-bg-light: #f8f4ff;
$theme-bg-primary: $theme-color-primary;
$theme-bg-dark: #1a202c;
$theme-border-color:  #e9d5ff;
$theme-color-tick: #10b981;
$smoky-white: #faf5ff;
$single-col-max: 800px;

/*************************** Variables Section. *****************************/
// Create variables to override the default value for variables used in the Bootstrap SCSS files.

$gray-100: lighten($theme-text-color-secondary, 65%);
$gray-200: lighten($theme-text-color-secondary, 55%);
$gray-300: lighten($theme-text-color-secondary, 50%);
$gray-400: lighten($theme-text-color-secondary, 45%);
$gray-500: lighten($theme-text-color-secondary, 40%);
$gray-600: lighten($theme-text-color-secondary, 30%);
$gray-700: lighten($theme-text-color-secondary, 20%);
$gray-800: lighten($theme-text-color-secondary, 10%);
$gray-900: $theme-text-color-primary;


/* Override BS5 sass color */
$primary: $theme-color-primary;
$secondary: $theme-text-color-secondary;

/*************************** Import Bootstrap  *****************************/
@import "bootstrap/scss/bootstrap.scss";


/*************************** Theme Styles Section ****************************/
@import "theme/styles.scss"

